{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": 0,
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "no-return-assign": ["error", "except-parens"]
  }
}
