version: 2
defaults: &defaults
  working_directory: /home/circleci/project
  docker:
    - image: 'circleci/node:8.9.4'
jobs:
  install_dependencies:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - 'dependencies-v1-{{ .Branch }}-{{ .Revision }}'
            - 'dependencies-v1-{{ .Branch }}-'
            - 'dependencies-v1-'
      - run: 'npm install'
      - save_cache:
          key: 'dependencies-v1-{{ .Branch }}-{{ .Revision }}'
          paths:
            - 'node_modules'
  test:
    <<: *defaults
    environment:
      JEST_JUNIT_OUTPUT: 'reports/jest/jest-results.xml'
    steps:
      - checkout
      - restore_cache:
          key: 'dependencies-v1-{{ .Branch }}-{{ .Revision }}'
      - run: 'npm install'
      - run: 'mkdir -p reports/{jest,tslint}'
      - run: 'npm run lint:ci'
      - run: 'npm run test:ci'
      - store_test_results:
          path: 'reports'
      - store_artifacts:
          path: 'reports'
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: 'dependencies-v1-{{ .Branch }}-{{ .Revision }}'
      - run: 'npm install'
      - run: 'npm run build'
      - store_artifacts:
          path: 'dist' 
      - persist_to_workspace: 
          root: /home/circleci
          paths:
            - 'project/dist'
  deploy:
    <<: *defaults
    parallelism: 1
    steps:
      - checkout
      - attach_workspace:
          at: /home/circleci
      - restore_cache:
          key: 'dependencies-v1-{{ .Branch }}-{{ .Revision }}'
      - run: 'npm install'
      - run: 'node ./scripts/pre-package'
      - run: 'node ./scripts/package'
      - run: 'node ./scripts/deploy'
      - store_artifacts:
          path: 'dist'
workflows:
  version: 2
  build_test_deploy:
    jobs:
      - install_dependencies
      - test:
          requires:
            - 'install_dependencies'
      - build:
          requires:
            - 'install_dependencies'
      - deploy:
          requires:
            - 'test'
            - 'build'
          filters:
            branches:
              only:
                - 'master'
                - 'circle-ci-persist-workspace'